<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dbdivisima</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <mapping class="edu.pe.unsch.entities.Producto"/>
  <mapping class="edu.pe.unsch.entities.Cliente"/>
  <mapping class="edu.pe.unsch.entities.Categoria"/>
  <mapping class="edu.pe.unsch.entities.Tipousuario"/>
  <mapping class="edu.pe.unsch.entities.Marca"/>
  <mapping class="edu.pe.unsch.entities.Imagen"/>
  <mapping class="edu.pe.unsch.entities.Localidad"/>
  <mapping class="edu.pe.unsch.entities.Revision"/>
 </session-factory>
</hibernate-configuration>
